<section class="view-container profile">
  <h1>Profile</h1>
  <mat-spinner *ngIf="isLoading" diameter="50" />
  <div *ngIf="user" class="profile-content">
    <img
      class="profile-image"
      [src]="
        user.profile_picture ??
        'https://img.freepik.com/free-icon/user_318-563642.jpg'
      "
    />
    <h2>{{ user.username }}</h2>
    <form
      class="profile-form"
      [formGroup]="profileDataForm"
      (submit)="updateData()"
    >
      <input
        formControlName="username"
        class="input"
        type="text"
        placeholder="Username"
      />
      <input
        formControlName="name"
        class="input"
        type="text"
        placeholder="Name"
      />
      <input
        formControlName="surname"
        class="input"
        type="text"
        placeholder="Surname"
      />
      <p *ngIf="successSaving" class="profile-form-success">
        Saved successfully!
      </p>
      <p *ngIf="errorSaving" class="profile-form-error">Error saving</p>
      <button class="primary-button">Save</button>
    </form>
  </div>
</section>
