<div class="user-profile">
    <h1>User Profile</h1>
    <ul>
      <li>
        <label for="name">Name: {{user?.name}}</label>
      </li>
      <li>
        <label for="surname">Surname: {{user?.surname}}</label>
      </li>
      <li>
        <label for="email">Email: {{user?.email}}</label>
      </li>
      <li>
        <label for="username">Username: {{user?.username}}</label>
        <span id="username"></span>
      </li>
      <li>
        <label for="profileImage">Profile Image</label>

        <img *ngIf="user?.profileImage" [src]="'/ProyectoFinal/dw-proyecto-final-backend/' + user?.profileImage" alt={{user?.profileImage}}>



        
      </li>
      <app-profile-picture></app-profile-picture>
    </ul>
  </div>
  