<div class="user-profile-container">
  <div class="user-profile">
    <h1>User Profile</h1>
    <div class="profile-image-container">
      <img [src]="user?.profileImage" alt="Profile Image" class="profile-image" />
      
      <div class="file-input">
        <input type="file" id="file-upload" (change)="uploadProfileImage($event)" class="input-file" accept="image/*">
        <label for="file-upload" class="upload-button">Upload</label>
      </div>
      
    </div>
    <ul>
      <li>
        <input class="input" type="text" placeholder="{{user?.name}}" name="Name" />
      </li>
      <li>
        <input class="input" type="text" placeholder="{{user?.surname}}" name="Surname" />
      </li>
      <li>
        <input class="input" type="text" placeholder="{{user?.email}}" name="email" />
      </li>
      <li>
        <input class="input" type="text" placeholder="{{user?.username}}" name="username" />
      </li>
      <li>
        <button class="secondary-button profile-button" (click)="saveChanges()">
          Save changes
        </button>
      </li>
    </ul>
    
  </div>
</div>
