<ul class="nav-items">
    <li>
      <a routerLink="/home" routerLinkActive="active-option">
        <img class="navBar-icon" [src]="navBar.homeIcon" alt="">
        <span>Discover</span>
      </a>
    </li>
    <li>
      <a routerLink="/search" routerLinkActive="active-option">
        <img class="navBar-icon" [src]="navBar.searchIcon" alt="">
        <span>Search</span>
      </a>
    </li>
    <li>
      <a routerLink="/create-post" routerLinkActive="active-option">
        <img class="navBar-icon" [src]="navBar.createIcon" alt="">
        <span>Create post</span>
      </a>
    </li>
    <li>
      <a routerLink="/chats" routerLinkActive="active-option">
        <img class="navBar-icon" [src]="navBar.chatsIcon" alt="">
        <span>Chat</span>
      </a>
    </li>
    <li>
      <a routerLink="/profile" routerLinkActive="active-option">
        <img class="navBar-icon" [src]="navBar.profileIcon" alt="">
        <span>Profile</span>
      </a>
    </li>
  </ul>
  