.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.post-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    width: 100%;
    max-width: 400px;
}

.navBar {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top: 1px #BDC5CD;
}