<div class="post-card">
  <div class="user-container">
    <img
      class="post-card-user-image"
      [src]="
        postCard?.profile_picture ??
        'https://img.freepik.com/free-icon/user_318-563642.jpg'
      "
      alt="User Image"
    />
    <h2>{{ postCard?.username }}</h2>
  </div>
  <p class="post-card-text">{{ postCard?.content }}</p>
  <p class="post-card-time">{{ getTimeAgo() }} ago</p>
  <h2 *ngIf="hasComments()" class="post-card-comments-title">Comments</h2>
  <ul *ngIf="hasComments()" class="post-card-comments">
    <li *ngFor="let comment of postCard?.comments">
      <app-comment [comment]="comment" />
    </li>
  </ul>
</div>
