<section class="register">
  <img class="register-logo" src="/assets/images/app-logo.svg" alt="App logo" />
  <div class="register-content">
    <h1 class="register-title">Create user</h1>
    <form class="register-form">
      <input class="input" type="text" placeholder="Name" />
      <input class="input" type="text" placeholder="Surname" />
      <input class="input" type="text" placeholder="Email" />
      <input class="input" type="text" placeholder="Password" />
      <input class="input" type="text" placeholder="Username" />
      <button class="primary-button">Sign up</button>
    </form>
  </div>
</section>
