<div class="search-result-container">
  <img
    class="search-result-image"
    [src]="
      user.profile_picture ??
      'https://img.freepik.com/free-icon/user_318-563642.jpg'
    "
    [alt]="user.username + ' avatar'"
  />

  <span class="search-result-content">{{ user.username }}</span>
  <button
    *ngIf="!isFollowed()"
    class="search-result-follow-button"
    (click)="follow(user.user_id)"
  >
    Follow
  </button>

  <button
    *ngIf="isFollowed()"
    class="search-result-unfollow-button"
    (click)="unFollow(user.user_id)"
  >
    Unfollow
  </button>
</div>
